@media (max-width: 1320px) {
    .header__top {
        gap: 60px;
    }

    .main__header {
        border-radius: 0;
        max-width: inherit;
        width: 100%;
        padding: 20px;
    }
}

@media (max-width: 1200px) {
    .header__top {
        flex-direction: column;
        gap: 10px;
    }

    .dim {
        display: none;
    }

    .main__header nav {
        gap: 20px;
    }

    .main-header-bottom-line {
        border-radius: 0;
        width: 100%;
    }
}

@media (max-width: 1185px) {
    .main-header-fake-hr {
        display: none;
    }
}

@media (max-width: 1055px) {
    
}

@media (max-width: 994px) {
    .header__nav {
        display: none;
    }

    .burger-menu-icon {
        display: block;
    }

    .mini__header {
        display: none;
    }

    .tablet__header {
        border-radius: 0;
        display: flex;
        align-items: center;
        justify-content: space-around;
        background-color: white;
    }
}

@media (min-width: 993px) {
    .burger-menu {
        transform: translateX(-100%);
    }
}

@media (max-width: 646px) {
    .header__top,
    .fake__hr {
        display: none;
    }

    .mini__header-top {
        display: flex;
        flex-direction: column;
    }

    .burger-menu {
        width: 100%;
    }
}

@media (max-width: 380px) {
    .main__title,
    .working-days {
        font-size: 13px;
    }

    .mini__header-top-info {
        display: flex;
        align-items: center;
    }

    .search-btn {
        margin-left: 10px;
    }
}