@media (max-width: 1320px) {
    .header__top {
        gap: 60px;
    }

    .main__header {
        border-radius: 0;
        max-width: inherit;
        width: 100%;
        padding: 20px;
    }
}

@media (max-width: 1200px) {
    .header__top {
        flex-direction: column;
        gap: 10px;
    }

    .dim {
        display: none;
    }

    .main__header nav {
        gap: 20px;
    }

    .main-header-bottom-line {
        border-radius: 0;
        width: 100%;
    }
}

@media (max-width: 1185px) {
    .main-header-fake-hr {
        display: none;
    }
}

@media (max-width: 1056px) {
    .header__nav {
        display: none;
    }

    .nav__1055 {
        display: block;
    }
}

@media (max-width: 994px) {
    .header__nav {
        display: none;
    }
}

@media (max-width: 727px) {
    .main__header {
        gap: 17px;
    }

    .ordering-btn_shadow {
        display: none;
    }

    .ordering-btn {
        padding: 17px 25px;
    }
}

@media (max-width: 651px) {
    .main__header {
        justify-content: space-between;
    }

    .burger-menu-icon {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .non-visibles,
    .fake__hr,
    .nav__1055,
    .carteds__btn,
    .ordering-btn {
        display: none;
    }

    .main__title {
        margin-right: 0;
    }

    .header-top_left-side,
    .header-top_right-side {
        gap: 10px;
    }

    .ordering-btn {
        padding: 14px 20px;
        font-size: 12px;
    }

    .burger-menu {
        width: 100%;
    }

    .search-modal {
        max-width: 320px;
    }
}

@media (max-width: 471px) {
    .main__header {
        gap: 10px;
        justify-content: space-between;
    }

    .header-navbar {
        gap: 20px;
        justify-content: space-between;
    }
}